



  
  .card-img-top {
    width: 100%;
    height: 600px !important;
    margin: 0 auto !important;
    background-image: url('/assets/img/default-cover.png');
    background-size: cover;
    background-position: center;
  }
  
  
  
  .fixed-size-img:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 1s ease;
  }
  
  .t1 {
    color: #fcbc55;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: normal;
    margin: 0 0 -14px;
  }
  
  .t2 {
    margin: 0 0 -5px;
    color: #000;
    max-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    max-width: 100%;
  }
  
  

  
  
  .destaquetitle{
  
    text-align: center;
      font-family: 'Dancing Script', cursive;
      font-size:6rem;
      font-weight: bold;
      color: #fcbc55;
  
  
    }
  
  
  
  
  
  

  
  .grid-item {
    width: calc(20% - 20px);
    margin: 10px;
    padding: 30px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }
  
  .grid-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  
  
  .pagination-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  
  ::ng-deep .ngx-pagination > li:not(.disabled) > a {
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #ddd !important;
    padding: 10px !important;
    border-radius: 10px !important;
    transition: background-color 0.3s ease, color 0.3s ease !important;
  }
  
  ::ng-deep .ngx-pagination > li.disabled > span {
  
    align-items: center !important;
    justify-content: center !important;
  
    color: #aaa !important;
  
    padding: 10px !important;
    border-radius: 10px !important;
    cursor: not-allowed !important;
    white-space: nowrap !important;
  }
  
  
  
  ::ng-deep .ngx-pagination .current {
    background-color: #fcbc55 !important;
    color: white !important;
    border: 1px solid #fcbc55 !important;
    padding: 10px !important;
    border-radius: 10px !important;
    cursor: default !important;
    box-shadow: none !important;
  }
  
  
  ::ng-deep .ngx-pagination > li > a:hover {
    background-color: #fcbc55 !important;
    color: white !important;
    border: 1px solid #fcbc55 !important;
  }
  
  
 


  .btn {
    padding: 8px 18px;
    border: none;
  
    letter-spacing: 1px;
    background: #000;
}

.btn-primary {
    background: #000;
    color: white;
}

.btn-primary:hover {
    background: #fcbc55;
    -webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 1s ease;

}

 
ion-input.fancylabel,
ion-textarea.fancylabel {
  --width: 200px !important;         
  width: 200px !important;          
  max-width: 90vw;
  margin: 0 auto 16px auto;
  display: block;
  border-radius: 10px !important;
  border: 1.5px solid #000 !important;
  text-align: center !important;
  font-size: 16px;
  color: #000;
  padding: 10px;
}

ion-input.fancylabel:focus-within,
ion-textarea.fancylabel:focus-within {
  border-color: #fcbc55 !important;
  box-shadow: 0 0 0 0.10rem #fcbc55;
  outline: 0;
}
.fancylabel:hover{
    border-style: solid !important;
    border-radius: 10px !important;
border-color: #fcbc55 !important;
    
    padding: 10px;
    font-size: 16px; 
    color: #000;
}


.fancylabel:focus{
    outline: none; 
    border-color: #fcbc55 !important;
}



  
  
  .late-warning {
    margin-top: 5px;
    color: red;
    font-size: 14px;
    font-weight: bold;
  }
  
  .warning-text {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  /* MEDIA SECTION */
  /* Responsive LAYOUTS */
  
  
  @media (max-width: 1920px) {
  .grid-item {
    width: calc(18% - 20px);
  }
  .card-img-top {
    height: 340px !important;
  }
  .grid-item img {
    height: 200px;
  }
  .card {
    margin: 10px auto;
    padding: 10px;
  }
  .pagination-wrapper {
    margin-top: -15px;
  }
  .t1 {
    font-size: 30px;
    max-width: 99%;
  }
  .t2 {
    font-size: 18px;
    max-width: 95%;
  }
}

/* 1024px */
@media (max-width: 1024px) {
  .grid-item {
    width: calc(33.33% - 20px);
  }
  .card-img-top {
    height: 400px !important;
  }
  .grid-item img {
    height: 200px;
  }
}

/* 768px */
@media (max-width: 768px) {
  .grid-item {
    width: calc(50% - 20px);
  }
  .card-img-top {
    height: 300px !important;
  }
  .grid-item img {
    height: 150px;
  }
  .card {
    margin: 10px auto;
    padding: 10px;
  }
  .pagination-wrapper {
    margin-top: 10px;
  }
  .t1 {
    font-size: 24px;
    max-width: 99%;
  }
  .t2 {
    font-size: 16px;
    max-width: 95%;
  }
}

/* 480px */
@media (max-width: 430px) {
  .grid-item {
    width: calc(100% - 20px);
  }
  .card-img-top {
    height: 200px !important;
  }
  .grid-item img {
    height: 120px;
  }
  .card {
    margin: 5px auto;
    padding: 5px;
  }
  .pagination-wrapper {
    margin-top: 5px;
  }
  .t1 {
    font-size: 20px;
    max-width: 99%;
  }
  .t2 {
    font-size: 14px;
    max-width: 95%;
  }
}

    @media (max-width: 430px) {
  .destaquetitle {
    margin-top: 20px;
    font-size: 2.6rem !important;
  }
}
  /*FIM MEDIA SECTION */
  
  